.signature-container{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
.formToEdit{
    width: fit-content;
}

.btn{
    padding: 1em 5em;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family:  Poppins ,Arial, sans-serif, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn.copy{
    background: #1ce28f;
}

.btn.save{
    background: #0ea5fd;
}
.title{
    text-align: center;
    margin: 1em;
}

main{
    padding: 2.5em ;
    display: grid;
    row-gap:2em;
    column-gap:3.5em;
    grid-auto-flow: columns;
    grid-template-columns: repeat(auto-fill, 650px);
    justify-content: center;
}
main > div {
    cursor: pointer;
}

